html, body, section, div, p {
    margin: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    background-color: #e8eacf;
    min-height: 450px;
}

.container > * {
    width: 100%;
}

/* **********   HEADER  ************** */
.header {
    align-items: center;
    display: flex;
    height: 30%;
}

.header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header div span {
    font-size: 3em;
}

.header div h1 {
    font-size: 1em;
}


/* ************  CONTENT ************** */
.content {
    display: flex;
    flex-flow: column nowrap;
    height: 65%;
    margin: 0 auto;

    align-items: center;
    justify-content: center;
}

.content > * {
    margin: 20px;
}

label {
    font-size: 1.5em;
}

input {
    text-align: center;
    font-size: 1.3em;
    width: 80%;
    height: 40px;
    text-decoration: double;
    margin-top: 0px !important;
}

#short {
    font-size: 2em;
}

button {
    border-radius: 50px;
    background-color: #337ab7;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-size: 1.4em;
    line-height: 1.42857143;
    padding: 6px 12px;
    width: 40%;
    margin-top: 20px;
}


/* *************  FOOTER  ************* */
.footer {
    height: 5%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    // background-color: #fff;
}

.footer p {
    font-size: .9em;
    margin-left: 1em;
    margin-right: 1em;
}



@media (min-width: 768px) {
    .header div span {
        font-size: 4em;
    }

    .header div h1 {
        font-size: 1.5em;
    }


    .footer p {
        font-size: 1.2em;
    }

    .container {
        max-height: 640px;
    }
}



@media (min-width: 1024px) {
    .header div span {
        font-size: 5em;
    }

    .header div h1 {
        font-size: 2em;
    }

    label {
        font-size: 2em;
    }

    #short {
        font-size: 2.5em;
    }


    input {
        font-size: 2em;
        height: 50px;
    }

    button {
        cursor: hand;
    }
}
